:root {
    --glowny-kolor: slategray;
    --plansza-bialy:white;
    --plansza-niebieski:deepskyblue;
    --plansza-default:white;
    --plansza-obramowanie:dodgerblue;
    --prison:purple;
    --highlighted:greenyellow;
    --glowny-motyw:deepskyblue;
  }

body {
    background-color: slategray;
}

#board {
    width: 768px;
    margin: auto;
    /*border: 2px solid black;*/
}

.InfoField,
.BoardField,
.PrisonField,
.EmptyField {
    height: 64px;
    width: 64px;
    float: left;
}

.InfoField {
    background-color: var(--plansza-obramowanie);
    font-size: 50px;
    text-align: center;
    text-overflow: hidden;

    display: inline-block;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.InfoField:hover {
    cursor: default;
}

.BoardField,
.PrisonField {
    background-color: var(--plansza-default);
    display: inline-block;
    position: relative;
}

.white {
    background-color: var(--plansza-bialy);
}

.blue {
    background-color: var(--plansza-niebieski);
}

.prisonOpen::before, .highlighted::before, .prisonbreak::before{
    position: absolute;
    content: '';
    width: 64px;
    height: 64px;
}

.prisonOpen::before {
    background: radial-gradient(var(--prison) 0% ,transparent 75%);
}

.highlighted::before {
    background: radial-gradient(var(--highlighted) 10%,transparent 70%);
    opacity: 0.6;
}

.BoardField img:hover {
    cursor: pointer;
}

.BoardRow {
    height: 64px;
    position: relative;
}

.prisonbreak::before {
    background-color: var(--prison);
    opacity: 0.5;
}