body {
    background-color: slategray;
}

#board {
    width: 768px;
    /*border: 2px solid black;*/
}

.InfoField,
.BoardField,
.PrisonField,
.EmptyField {
    height: 64px;
    width: 64px;
    float: left;
}
.InfoField {
    background-color: dodgerblue;
    font-size: 50px;
    text-align: center;
    text-overflow: hidden;

    display: inline-block;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.InfoField:hover {
    cursor: default;
}

.BoardField,
.PrisonField {
    background-color: white;
    outline: 1px solid black;
    display: inline-block;
}

.white {
    background-color: white;
}

.blue {
    background-color: deepskyblue;
}

.prisonOpen {
    background-color: purple;
}

.highlighted {
    background-color: red;
}

.selected {
    background-color: green;
}

.BoardField img:hover {
    cursor: pointer;
}

.BoardRow {
    height: 64px;
    position: relative;
}
