body {
    background-color: slategray;
}

#board {
    width: 640px;
}

.InfoField {
    background-color: dodgerblue;
    font-size: 50px;
    text-align: center;
    text-overflow: hidden;

    height: 64px;
    width: 64px;
    background-color: white;
    display: inline-block;
    float: left;
}

.BoardField {
    height: 64px;
    width: 64px;
    background-color: white;
    display: inline-block;
    float: left;
}

.BoardRow {
    height: 64px;
    position: relative;
}
